* {
    font-family: Arial, sans-serif;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.resume {
    width: 800px;
    background: white;
    box-shadow: gray;
    padding: 20px;
}

.header {
    background: rgb(30, 144, 255);
    color: white;
    text-align: center;
    padding: 20px;
}
.linkedIn img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.header p {
    font-size: 14px;
}

.section {
    margin: 20px 0;
}

.section h2 {
    font-size: 20px;
    color: #1E90FF;
    border-bottom: 2px solid rgb(30, 144, 255);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content {
    font-size: 14px;
    line-height: 1.6;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills div {
    background: rgb(241, 241, 241);
    padding: 5px 10px;
    border-radius: 5px;
}

.experience {
    margin-bottom: 15px;
}

.experience h3 {
    color: #333;
    font-size: 16px;
}

.experience p {
    font-size: 14px;
    color: #666;
}
.skills div:hover {
    font-size: 19px; 
    transition: font-size 0.3s ease-in-out;
}

