<header class="admin-header">
    <div class="admin-nav">
        <div class="admin-logo">
            <a href="/admin">
                <img src="/assets/logo.svg" alt="SEASALT CORNWALL">
                <span class="admin-badge">ADMIN</span>
            </a>
        </div>
        
        <div class="admin-nav-right">
            <div class="admin-user">
                <span>Welcome, <%= user.name %>!</span>
                <div class="admin-user-menu">
                    <a href="/" class="admin-nav-link">View Site</a>
                    <a href="/logout" class="admin-nav-link">Logout</a>
                </div>
            </div>
        </div>
    </div>
</header>
