<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <container class="header">
        <!-- left -->
        <ul class="categories">
            <li>New</li>
            <li>Women's</li>
            <li>Men's</li>
            <li>Gifts</li>
            <li>Sale</li>
            <li>SeaSalt Life</li>
        </ul>
        <!-- center -->
        <div class="logo">
            <img src="./assets/logo.svg" alt="SEASALT CORNWALL">
        </div>
        <!-- right -->
        <div class="right">
            <input type="search" name="search" id="search" placeholder="What are you looking for">
            <h3>icon</h3>
            <h3>icon</h3>
        </div>
    </container>
    <section class="promo-section">
        <img src="./assets/top-background.webp" alt="Background" class="background-image" />
        <div class="promo-content">
          <h1 class="promo-heading">Brighten Your Day</h1>
          <div class="promo-cards">
            <div class="promo-card">
              <h2>SAVE £10</h2>
              <p>When you spend £50</p>
            </div>
            <div class="promo-divider"></div>
            <div class="promo-card">
              <h2>SAVE £25</h2>
              <p>When you spend £100</p>
            </div>
            <div class="promo-divider"></div>
            <div class="promo-card">
              <h2>SAVE £40</h2>
              <p>When you spend £150</p>
            </div>
          </div>
          <div class="promo-links">
            <a href="#">Includes Sale items</a> | <a href="#">T&Cs apply</a>
          </div>
        </div>
      </section>
      
    <div class="video">
            <div class="videotxt">
            <video autoplay>
                <source src="./assets/main.mp4" type="video/mp4">
            </video>
            <div class="txt">
                <h3>NEW COLLECTION</h3>
                <h2>MODERN SHADES</h2>
                <button class="shop"> Shop New In</button>
            </div>
        </div>
    </div>
</body>

</html>