<header class="auth-header">
    <div class="auth-nav">
        <div class="logo">
            <a href="/">
                <img src="/assets/logo.svg" alt="SEASALT CORNWALL">
            </a>
        </div>
    </div>
</header>
